<div class="slider">
	<div class="slider-list">
		<div class="slider-track">
			<div class="slide">
				<img src="../../Static/img/slider/london.jpg" alt="london" />
			</div>
			<div class="slide">
				<img src="../../Static/img/slider/ny.jpg" alt="new york" />
			</div>
			<div class="slide">
				<img
					src="../../Static/img/slider/spb.jpg"
					alt="sankt-piterburg"
				/>
			</div>
		</div>
	</div>
	<div class="slider-arrows">
		<button type="button" class="prev">&larr;</button>
		<button type="button" class="next">&rarr;</button>
	</div>
</div>
