<p>====> Slider <====</p>

<div class="wrapper">
	<input type="radio" name="point" id="slide1" checked />
	<input type="radio" name="point" id="slide2" />
	<input type="radio" name="point" id="slide3" />
	<div class="slider">
		<div class="slides slide1">
			<img src="../../Static/img/slider/london.jpg" alt="london" />
		</div>
		<div class="slides slide2">
			<img src="../../Static/img/slider/ny.jpg" alt="new york" />
		</div>
		<div class="slides slide3">
			<img src="../../Static/img/slider/spb.jpg" alt="sankt-piterburg" />
		</div>
	</div>
	<div class="controls">
		<label for="slide1"></label>
		<label for="slide2"></label>
		<label for="slide3"></label>
	</div>
</div>
