<div class="slider-container">
	<div class="slider">
		<img
			id="slide1"
			src="../../Static/img/slider/london.jpg"
			alt="London"
		/>
		<img id="slide2" src="../../Static/img/slider/ny.jpg" alt="New Yourk" />
		<img id="slide3" src="../../Static/img/slider/spb.jpg" alt="SPB" />
	</div>
	<button class="prev-button" aria-label="Посмотреть предыдущий слайд">
		&lt;
	</button>
	<button class="next-button" aria-label="Посмотреть следующий слайд">
		&gt
	</button>
</div>
<script src="../Static/JS/slider.js"></script>
