<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>LifeSpot</title>
		<link href="../Static/CSS/index.css" rel="stylesheet" type="text/css" />
		<link href="../Static/CSS/about.css" rel="stylesheet" type="text/css" />
		<link
			href="../Static/CSS/slider.css"
			rel="stylesheet"
			type="text/css"
		/>
		<script src="../Static/JS/about.js"></script>
	</head>
	<body>
		<main>
			<!--HEADER-->
			<!--SIDEBAR-->
			<div class="description-content">
				<h2 class="about_title">О сайте</h2>
				<p>
					На сайте собраны прямые трансляции из улиц разных городов
					мира.
				</p>
				<p>
					Все трансляции находятся в открытых источниках, в данный
					момент -
					<a
						class="about-Link"
						href="https://www.youtube.com/"
						target="_blank"
						>youtube.com</a
					>
				</p>
				<!--SLIDER-->
				<p>Отзыв о работе сайта можно оставить здесь</p>
			</div>
			<div class="reviews">
				<div class="review-button">
					<button onclick="addComent()">Оставить отзыв</button>
				</div>
			</div>
		</main>
		<!--FOOTER-->
	</body>
</html>
