<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">    
</head>
<body>
    <header>
        <div class="bordered">
            <h1>LifeSpot - прямые трансляции с улиц</h1>
            <p>Покажем, что происходит прямо сейчас</p>
        </div>
        <div>
            <textarea class="textarea"></textarea>
        </div>
    </header>
    <main>
        <aside id="sidebar">
            <div class="navbar">
                <a href="/"><p>Все трансляции</p></a>
                <a href="/"><p>О проекте</p></a>
            </div>
        </aside>
        <div class="video-container">
            <iframe 
                    width="560" 
                    height="315" 
                    src="https://www.youtube.com/embed/h1wly909BYw?si=9oOAQdI5BZwJirBi" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; 
                        encrypted-media; gyroscope; picture-in-picture; web-share" 
                    allowfullscreen>
            </iframe>
            <p>Трансляция Санкт-Петербурга Невский проспект.</p>
        </div>
        <div class="video-container">
            <iframe 
                    width="560" 
                    height="315" 
                    src="https://www.youtube.com/embed/q0kPBRIPm6o?si=vVpdb_0xOKe6exnT" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
                            gyroscope; picture-in-picture; web-share" 
                    allowfullscreen>
                
            </iframe>
            <p>Прогулки по манхетену в Нью Йорке.</p>
        </div>
        <div class="video-container">
            <iframe width="560"
                    height="315"
                    src="https://www.youtube.com/embed/JplMzss6_YE?si=AMHoarijjGmIk9Z_"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer;
                autoplay;
                clipboard-write;
                encrypted-media;
                gyroscope;
                picture-in-picture;
                web-share"
                    allowfullscreen>
            </iframe>
            <p>Камера на автобусе по улицам Лондона.</p>
        </div>
    </main>
    <footer>
        <p>LifeSpot - все права защищены</p>
        <p>Связаться с нами: contact@lifespot.ru</p>
    </footer>

</body>
</html>