<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>LifeSpot</title>
		<link href="../Static/CSS/index.css" rel="stylesheet" type="text/css" />
		<script src="../Static/JS/index.js"></script>
		<script>
			// checkUserAge();
			handleSession();
			const parseFunct = function () {
				return document
					.getElementsByTagName("input")[0]
					.value.toLowerCase();
			};
		</script>
	</head>
	<!--HEADER-->
	<!--SIDEBAR-->
	<body>
		<main>
			<div>
				<input
					class="textarea"
					type="text"
					oninput="
						searchVideo();"
					size="50%"
				/>
			</div>
			<div class="video-container">
				<iframe
					width="560"
					height="315"
					src="https://www.youtube.com/embed/h1wly909BYw?si=9oOAQdI5BZwJirBi"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write;
                        encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen
				>
				</iframe>
				<h3 class="video-title">
					Трансляция Санкт-Петербурга Невский проспект.
				</h3>
			</div>
			<div class="video-container">
				<iframe
					width="560"
					height="315"
					src="https://www.youtube.com/embed/q0kPBRIPm6o?si=vVpdb_0xOKe6exnT"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                            gyroscope; picture-in-picture; web-share"
					allowfullscreen
				>
				</iframe>
				<h3 class="video-title">Прогулки по манхетену в Нью Йорке.</h3>
			</div>
			<div class="video-container">
				<iframe
					width="560"
					height="315"
					src="https://www.youtube.com/embed/JplMzss6_YE?si=AMHoarijjGmIk9Z_"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer;
                autoplay;
                clipboard-write;
                encrypted-media;
                gyroscope;
                picture-in-picture;
                web-share"
					allowfullscreen
				>
				</iframe>
				<h3 class="video-title">
					Камера на автобусе по улицам Лондона.
				</h3>
			</div>
		</main>
		<!--FOOTER-->
	</body>
</html>
