/* Простые селекторы*/
body {
    background-color: #f5f3b5;
    
}

.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 1%;
}

.textarea{
    color: black;
    background-color: aliceblue;
}

.textarea:hover{
    color: black;
    background-color: aqua;
}

.textarea:active{
    color: black;
    background-color: aqua;
}

a{
    text-decoration: none;
}

.navbar p{
    color: darkgray;
    padding-left: 15%;
}

.navbar p:hover{
    color: blue;
}

header {
    padding-left: 1%;
    padding-top: 1.2%;
}

footer {
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    line-height: 66%;
    padding-left: 1%;
}

aside {
    height: 100%; /* Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    width: 10%;
    position: absolute; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    z-index: 1; /* Сайд-бар будет поверх остальных элементов */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    background-color: #111; /* Черный цвет фона (задан в виде кода) */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 2%;
    font-size: large;
    margin-right: 1%;
}

body {
    padding-left: 11%;
}
